{% extends 'base.html' %}
    {% block content %}
    <div class="answer_to_ticket">
        <h2>Create a review</h2>
        <div class="answer_to_ticket_area">
            <div class="answer_to_ticket_area_ticket_zone">
                <h3>You are publishing a response to: </h3>
                {% include 'feedapp/partials/ticket_snippet.html' %}
            </div>
            <div class="answer_to_ticket_area_review_zone">
                <h3>Review</h3>
                <form method="post">
                {{ review_form.as_p }}
                {% csrf_token %}
                <hr>
                <button type="submit">Publish</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}