{% extends 'base.html' %}
{% load widget_tweaks %}
    {% block content %}
        <div class="main_content">
            <div class="create_a_review">
                <h2>Create a review</h2>
                <div class="create_a_review_area">
                    <form method="post">
                        <div class="create_a_review_area_ticket_zone">
                            <h5>Book/Article</h5>
                            <br>
                            {% for hidden in ticket_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <label>{{ ticket_form.title.label }}</label>
                            {% render_field ticket_form.title class='form-control' %}
                            <label>{{ ticket_form.description.label }}</label>
                            {% render_field ticket_form.description class='form-control' %}
                            <br>
                            <label>{{ ticket_form.image.label }}</label>
                            {% render_field ticket_form.image %}
                        </div>
                        <div class="create_a_review_area_review_zone">
                            <h5>Review</h5>
                            <br>
                            {% for hidden in review_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div id="review_rating">
                                <label>{{ review_form.rating.label }}</label>
                                <div class="radio_rating">
                                    {% render_field review_form.rating %}
                                </div>
                            </div>
                            <label>{{ review_form.headline.label }}</label>
                            {% render_field review_form.headline class='form-control' %}
                            <label>{{ review_form.body.label }}</label>
                            {% render_field review_form.body class='form-control' %}
                            <br>
                            <button type="submit">Publish</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    {% endblock content %}