{% extends 'base.html' %}

    {% block content %}
        <h1>My Posts</h1>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'feedapp/partials/ticket_snippet.html' with ticket=post %}
                    <button type="submit"><a href="{% url 'ticket_update' post.id %}">Update</a></button>
            {% elif post.content_type == 'REVIEW' %}
                {% include 'feedapp/partials/review_snippet.html' with review=post %}
                    <button type="submit"><a href="{% url 'review_update' post.id %}">Update</a></button>
            {% endif %}
            <hr>
        {% endfor %}
    {% endblock content %}