{% extends 'base.html' %}
    {% block content %}
    <div class="main_content">
        <div>
            <h2>Follow users</h2>
            {% for user_to_follow in users_to_follow %}
                <div>
                    {{ user_to_follow.username }}
                    <button type="submit">
                        <a href="{% url 'subscription' user_to_follow.id %}">Follow</a>
                    </button>
                </div>
            {% endfor %}
        </div>
        <div>
            <h2>Followed users</h2>
            <table>
                {% for user_followed in followed_users %}
                    <tr>
                        <td>{{ user_followed.followed_user.username }}</td>
                        <td>
                            <button type="submit">
                                <a href="{% url 'unsubscription_page' user_followed.followed_user.id %}">Unsubscribe</a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <div>
            <h2>Followers</h2>
            <table>
                {% for follower in followers %}
                <tr>
                    <td>{{ follower.user.username }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endblock content %}