.base_header {
  border: 1px black solid;
  display: flex;
  justify-content: center;
}

.base_header nav {
  display: flex;
  flex: 0.3;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.base_header #header_spaceholder{
    flex: 0.3;
    }

.base_header .header_h1 {
  display: flex;
  flex: 0.9;
  justify-content: center;
  align-items: center;
}

#login_zone{
    border: 1px black solid;
    padding: 20px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_zone .card{
    border: none;
    width: 400px;
}
.login_register{
    text-align: center;
    padding: 10px;
}
.register_now {
    border: 1px solid black;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_now h2 {
    text-align: center;
    width: 100%;
}

.main_content {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_content h1 {
  text-align: center;
}
.main_content h2 {
  text-align: center;
}
.main_content button {
  border-radius: 5px;
}
.main_content .main_content_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  padding: 5px;
}
.main_content .ticket_area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
  padding: 5px;
}
.main_content .post {
  border: 1px black solid;
  width: 50%;
  padding: 5px;
}

.checked {
  color: gold;
}

.review {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.review .review_info {
  display: flex;
  justify-content: space-between;
}
.review .review_rating {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.review .ticket_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 5px;
}
.ticket .ticket_info {
  display: flex;
  justify-content: space-between;
}

.answer_to_ticket .answer_to_ticket_area {
  border: 1px black solid;
}
.answer_to_ticket .answer_to_ticket_area .answer_to_ticket_area_ticket_zone {
  border: 1px black solid;
  padding: 5px;
}
.answer_to_ticket .answer_to_ticket_area .answer_to_ticket_area_review_zone {
  border: 1px black solid;
  padding: 5px;
}
.answer_to_ticket .answer_to_ticket_area .answer_to_ticket_area_review_zone form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.answer_to_ticket .answer_to_ticket_area .answer_to_ticket_area_review_zone form button {
  width: 80px;
  border-radius: 5px;
}

.create_a_review .create_a_review_area {
  border: 1px black solid;
}
.create_a_review .create_a_review_area .create_a_review_area_ticket_zone {
  border: 1px black solid;
  padding: 5px;
}
.create_a_review .create_a_review_area .create_a_review_area_review_zone {
  border: 1px black solid;
  padding: 5px;
}
.create_a_review .create_a_review_area .create_a_review_area_review_zone form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.create_a_review .create_a_review_area .create_a_review_area_review_zone form button {
  width: 80px;
  border-radius: 5px;
}

footer {
  border: 1px black solid;
  display: flex;
  width: 100%;
  padding: 2px;
}

/*# sourceMappingURL=style.css.map */
