<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LITReview</title>
</head>
<body>
    <header>
        <div class="header_h1"><h1>LITReview</h1></div>
      <nav>
          <a href="{% url 'home_page' %}">Feed</a>
          <a href="{% url 'my_posts_page' %}">My Posts</a>
          <a href="{% url 'subscription_page' %}">Subscriptions</a>
          {% if user.is_authenticated %}
            <a href="{% url 'logout_page' %}">Log out</a>
          {% endif %}
      </nav>
    </header>
  {% block content %} {% endblock content %}
  {% if user.is_authenticated %}
    <p>You are connected as {{ user }}. <a href="{% url 'logout_page' %}">Log out</a></p>
  {% endif %}
</body>
</html>