<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
</head>
<body>
  <h1>LITReview</h1>
  <nav>
      <a href="{% url 'home_page' %}">Feed</a>
      <a href="{% url 'my_posts_page' %}">My Posts</a>
      <a href="{% url 'subscription_page' %}">Subscriptions</a>
      {% if user.is_authenticated %}
        <a href="{% url 'logout_page' %}">Log out</a>
      {% endif %}
  </nav>
  {% block content %} {% endblock content %}
  {% if user.is_authenticated %}
    <p>You are connected as {{ user }}. <a href="{% url 'logout_page' %}">Log out</a></p>
  {% endif %}
</body>
</html>